.containerOfEditingGenderItem {
  margin-top: 108px;
}
.headerTextOfEditingGenderItem {
  margin-bottom: 15px;
  font-weight: bold;
}
.genderContainer {
  width: 100%;
}
.genderSelectionInput {
  display: flex;
  justify-content: space-between;
  padding: 13px 15px;
  border: 1px solid;
  border-radius: 13px;
}
.genderSelectionInput:hover {
  background-color: rgb(236, 235, 235);
  cursor: pointer;
}
.genderListContainer {
  width: 360px;
  position: absolute;
  right: 3.5%;
  padding: 15px 0;
  background-color: white;
  border-radius: 18px;
  box-shadow: 0px 5px 7px 3px rgba(43, 43, 43, 0.1);
  z-index: 1;
}
.genderListItem {
  /* для общего охвата hover */
  /* padding-right: 22.5px; */
}
.genderListItem:hover {
  cursor: pointer;
}
.individualGenderTypeInput {
  margin: 0 22.5px 20px 20px;
  padding: 18px;
  border: 1px solid;
  border-radius: 13px;
  background-color: rgb(244, 243, 243, 0.5);
  font-size: 14.5px;
  letter-spacing: 1px;
}
.explanatoryText {
  margin-top: 8px;
  font-size: 12px;
  color: grey;
  text-align: justify;
}
