.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(21, 21, 21, 0.8);
}
.modalWindow {
  width: 650px;
  height: 430px;
  border-radius: 13px;
  background-color: white;
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid lightgrey;
}
.cancelButton {
  font-size: 14px;
  cursor: pointer;
}
.caption {
  font-weight: 500;
}
.doneButton {
  font-size: 14px;
  font-weight: 500;
  color: #2196f3;
  cursor: pointer;
}

.modalContent {
  display: flex;
  height: 100.5%;
}
