.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(40, 40, 40, 0.8);
}

.menuContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(21, 21, 21, 0.8);
}
.commentMenu {
  width: 400px;
  background-color: white;
  border-radius: 10px;
  font-size: 14px;
}
.redMenuButton {
  color: rgb(245, 67, 67);
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding: 15px 0;
  cursor: pointer;
}
.menuButton {
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}
.cancelButton {
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
}

.closeAndArrowIconsContainer {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.closeIcon {
  color: white;
  cursor: pointer;
}
.postArrow {
  border-radius: 50%;
  background-color: white;
  color: rgb(49, 49, 49);
  cursor: pointer;
}
.modal {
  width: 85%;
  height: 90%;
  display: flex;
  background-color: white;
}

.imageContainer {
  flex: 1;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imageArrow {
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 0 10px;
}

.postInfo {
  flex: 1;
}
