.container {
  position: fixed;
  width: 340px;
  height: 100vh;
  border-right: 1px solid lightgrey;
}
.header {
  font-size: 16px;
  font-weight: 700;
  margin: 40px 20px 0 20px;
}
.loading {
  width: 200px;
  height: 200px;
  background-image: url("../../pictures/loading.gif");
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
}
.inbox {
  margin-top: 44px;
  height: 76vh;
  overflow: auto;
}
.chat {
  padding: 8px 20px 4px 20px;
}
.chat:hover {
  background-color: rgb(242, 240, 240, 0.5);
  cursor: pointer;
}
.notFoundText {
  margin: 65px 0 0 20px;
  font-size: 14px;
  color: grey;
}
