.container {
  width: 650px;
  height: 430px;
  border-radius: 13px;
  background-color: white;
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid lightgrey;
  font-weight: 500;
}
.shareButton {
  font-size: 14px;
  color: #2196f3;
  cursor: pointer;
}

.modalContent {
  display: flex;
  height: 99.5%;
}
