.imageContainerOfModalWindow {
  width: 400px;
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 13px;
  display: flex;
  flex-direction: column;
}
.arrowAndBasketContainer {
  width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto 5px auto;
}
.basket {
  margin-top: 10px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(40, 40, 40, 0.8);
  /* font-size: 12px; */
  color: white;
  cursor: pointer;
}
.arrowContainer {
  display: flex;
  justify-content: space-between;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(40, 40, 40, 0.8);
  color: white;
}
.arrow:hover {
  background-color: rgb(40, 40, 40, 0.6);
  cursor: pointer;
}
